@model WEB.Models.ConfigModel
@{
	ViewBag.Title = "Confirm";
}

<h2>Are you sure you want to delete this handler?</h2>
<button type="button" id="OKbtn">OK</button>
<button type="button" id="Cancelbtn">Cancel</button>

<script>
    $("#OKbtn").click(function () {
        $.post("@Url.Action("DeleteOK")", function () {
            window.location.href = "Config";
        });
    });

    $('#Cancelbtn').click(function (e) {
        $.get('DeleteCancel', function () {

        });
        window.location.href = "Config";
    })

   @Html.ActionLink("OK", "DeleteOK", "Config")
    @Html.ActionLink("Cancel", "DeleteCancel", "Config")

</script>