@using Communication.Modal

@model WEB.Models.LogsModel
@{
	ViewBag.Title = "Logs";
}

<h2>Logs</h2>
<h3>Choose type of message:</h3>
<input type="text" id="filterfield" onkeyup="filter()" placeholder="Log Type.." />
<h3>Log Entries</h3>
<table class="table table-striped table-dark" id="myTable">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Status</th>
			<th scope="col">Message</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var log in Model.LogEntries)
		{
			<tr>
				<td id=@log.status>
					@Html.DisplayFor(m => log.status)
				</td>
				<td>
					@Html.DisplayFor(m => log.message)
				</td>
			</tr>
		}

	</tbody>

</table>
<script type="text/javascript">
    //FILTERING THE LOGS
    function filter() {
        var table, tr, td, i, input, filter;
        input = document.getElementById("filterfield");
        filter = input.value.toUpperCase(); //users input with making all letters upper case.
        table = document.getElementById("myTable"); //the table of all log list.
        tr = table.getElementsByTagName("tr"); //the types of logs
        // go through table rows and show only the ones that are the same as the filter.
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>